/* Basic styling */
body {
  overflow-x: hidden;
}

/* Header and navigation styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

/* Apply responsive styling to the navigation bar on smaller screens */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 10px 0;
  }
}

/* Main content container styles */
.container {
  max-width: 100%;

}

h1 {
  font-size: 2rem;
  color: #0f0101;
}

p {
  font-size: 1rem;
  color: #160101;
}

.buttonn {
  background-color: #0099ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%; /* Make the button expand to 100% of its parent's width */
  max-width: 300px; /* Optionally limit the button's maximum width */
}

/* Responsive styles for screens up to 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  .buttonn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
  .end-50 {
    right: 50%!important;
    width: 15%;
}
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Apply responsive styling to the footer on smaller screens */
@media (max-width: 768px) {
  footer {
    padding: 10px 0;
  }
}

/* Small devices (phones) */
@media (max-width: 576px) {
  /* Add your CSS rules for small screens here */
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
  /* Add your CSS rules for medium screens here */
}

/* Large devices (desktops) */
@media (min-width: 189px) {
  /* Add your CSS rules for large screens here */
}


